/* set html to 100% so the background height will be set to 100% */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* deactivate default body margin */

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* the 3 containers, left, middle and right */

#containerLeft {
    float: left;
    background-color: white;
    height: 100%;
}

#containerMiddle {
    position: relative;
    float: left;
    /* the background image has an 2/3 ratio */
    height: 100%;
    width: 150vh;
    /* todo: load in this image from the html file */
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#containerRight {
    float: left;
    background-color: white;
    height: 100%;
}

/* header */

header {
    position: absolute;
    header: 0;
    height: 10%;
    width: 100%;
    text-align: center;
}

/* main */

main {
    position: absolute;
    /* Top is the same as the height of the header */
    top: 10%;
    height: 80%;
    width: inherit;
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
}