<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Battle Beer Game</title>
    <meta name="description" content="Battle Beer Game">
    <meta name="author" content="Nicolas & Gijs">

    <!-- Background image -->
    <style>
        #containerMiddle { background-image: url("./images/tearPlateBackground.jpg"); }
    </style>
    <link rel="stylesheet" href="./css/containerLayoutStyle.css">
    <link rel="stylesheet" href="./css/gameStyle.css">


</head>

<body>

    <!-- The space right of the image -->
    <div id="containerLeft" class="containterSide">
    </div>

    <!-- The middle container with all the content-->
    <div id="containerMiddle">
        <!-- Header -->
        <header>
            <h1>
                Battle Beer
            </h1>
        </header>

        <!-- Main -->
        <main>
            <!-- Iframe to load main content -->

            <iframe id="iFrame" data-state="0" src="./iFrameScreen/enterNamesScreen.html">
                <!-- The tags in a iframe are only displayed if the browser does not support iFrame -->
                <p>Your Browser does not support Iframes, Please open this web page in an other Browser</p>
            </iframe>

        </main>

        <!-- Footer -->
        <footer>

            <!-- Next button which loads in the next iFrame depending on the state is is currently in -->
            <button id="next">next</button>

            <!-- Test button which should be removed -->
            <button id="temp">tempTestBUtton</button>


            <!-- Full screen mode -->
            <button id="fullScreenMode" type="button">
                Enter Full Screen Mode
            </button>
        </footer>
    </div>




    <!-- the space right of the image -->
    <div id="containerRight" class="containterSide">
    </div>

    <!-- Load in jQuery and other scripts-->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/resizeContainersScript.js"></script>
    <script src="./js/gameScript.js"></script>
    <script src="./js/fullScreenScript.js"></script>
    <script src="./js/state.js"></script>    


    <!-- may not be usefull here, use this in the iFrame plz -->
    <script src="./js/enterNameScript.js"></script>

</body>

</html>