/* Background Image */
body {
    background-image: url("");
    background: fixed no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'STENCIL', 'Gill Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

#gameStats p {
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}